@using Cronograph.Shared;
@using System.Linq
@using System.Text.Json;

@page "/"

<HxGrid @ref="grid" TItem="Job" DataProvider="GetGridData" PageSize="30" Responsive="true" MultiSelectionEnabled="true" @bind-SelectedDataItems="selectedJobs">
    <Columns>
        <HxGridColumn HeaderText="State" ItemTextSelector="x => x.State.ToString()" />
        <HxGridColumn HeaderText="Name" ItemTextSelector="x => x.Name" />
        <HxGridColumn HeaderText="Next Run" ItemTextSelector="@(x => RenderTime(x.NextJobRunTime))" />
        <HxGridColumn HeaderText="Last Message" ItemTextSelector="x => x.LastJobRunMessage" />
        <HxGridColumn HeaderText="Last State" ItemTextSelector="x => x.LastJobRunState.ToString()" />
        <HxGridColumn HeaderText="Last Run" ItemTextSelector="@(x => RenderTime(x.LastJobRunTime))" />
        <HxGridColumn HeaderText="Cron" ItemTextSelector="x => x.CronString" />
    </Columns>
</HxGrid>
<p>
    <HxButton Text="Run now" Enabled="selectedJobs.Any()" OnClick="async () => await Execute(selectedJobs)" Color="ThemeColor.Primary" />
    <HxButton Text="Schedule" Enabled="selectedJobs.Any()" OnClick="async () => await Start(selectedJobs)" Color="ThemeColor.Secondary" />
    <HxButton Text="Stop" Enabled="selectedJobs.Any()" OnClick="async () => await Stop(selectedJobs)" Color="ThemeColor.Danger" />
</p>
@code {
    private Timer timer;
    private string SomeText = "Hej";
    private bool disposed = false;
    private string filter = "";
    private HxGrid<Job> grid;
    private HashSet<Job> selectedJobs = new();
    [Inject]
    HttpClient Http { get; set; }
    [Inject] 
    IHxMessageBoxService MessageBox { get; set; }
    [Inject] 
    IHxMessengerService Messenger { get; set; }

    string RenderTime(DateTimeOffset time)
    {
        if (time == DateTimeOffset.MinValue)
            return "";
        return time.ToLocalTime().ToString("yyyy-MM-dd HH:mm:ss");
    }
    private void HandleAddInformationButtonClick()
    {
        Messenger.AddInformation(title: "Data encrypted", message: "All your data has been encrypted. To decrypt your data share $100 with all your teammates.");
    }

    private void HandleAddWarningButtonClick()
    {
        Messenger.AddWarning(title: "Bio hazard!", message: "Bio hazard detected in your office!");
    }

    private void HandleAddErrorButtonClick()
    {
        Messenger.AddError(title: "Error", message: "An error occurred during showing messenger message.");
    }
    private async Task OpenMessageBox()
    {
        var showResult = await MessageBox.ShowAsync("Info", "This is the text", MessageBoxButtons.OkCancel);
    }

    private async Task OpenConfirm()
    {
        var confirmResult = await MessageBox.ConfirmAsync("Confirm", "Do you really want to ...?");
    }

    void LocationChanged(object sender, LocationChangedEventArgs e)
    {
        timer.Dispose();
    }
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            timer = new Timer(async state => { await InvokeAsync(UpdateView); }, null, 0, 1000);
        }
        return Task.CompletedTask;
    }
    private async Task UpdateView()
    {
        await grid.RefreshDataAsync();
    }
    private async Task<GridDataProviderResult<Job>> GetGridData(GridDataProviderRequest<Job> request)
    {
        var list = await Http.GetFromJsonAsync<Job[]>("/cronograph/jobs");
        return new GridDataProviderResult<Job>()
            {
                Data = list,
                TotalCount = list.Count()
            };
    }
    protected async Task Stop(Job job)
    {
        await Http.PostAsJsonAsync("/cronograph/jobs/stop", new JobName { Name = job.Name });
    }
    protected async Task Stop(HashSet<Job> jobs)
    {
        foreach (var job in jobs)
            await Http.PostAsJsonAsync("/cronograph/jobs/stop", new JobName { Name = job.Name });
    }
    protected async Task Start(Job job)
    {
        await Http.PostAsJsonAsync("/cronograph/jobs/start", new JobName { Name = job.Name });
    }
    protected async Task Start(HashSet<Job> jobs)
    {
        foreach (var job in jobs)
            await Http.PostAsJsonAsync("/cronograph/jobs/start", new JobName { Name = job.Name });
    }
    protected async Task Execute(Job job)
    {
        await Http.PostAsJsonAsync("/cronograph/jobs/execute", new JobName { Name = job.Name });
    }
    protected async Task Execute(HashSet<Job> jobs)
    {
        foreach (var job in jobs)
            await Http.PostAsJsonAsync("/cronograph/jobs/execute", new JobName { Name = job.Name });
    }
    public void Dispose() => Dispose(true);

    public void Dispose(bool disposing)
    {
        if (disposed) return;
        timer.Dispose();
        disposed = true;
    }
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private void FilterChanged(ChangeEventArgs args)
    {
        filter = args.Value as string;
    }
}