@using Cronograph.Shared;
@using System.Linq
@using System.Text.Json;

@page "/"
<HxGrid @ref="grid" TItem="Job" DataProvider="GetGridData" PageSize="30" Responsive="true" MultiSelectionEnabled="true" @bind-SelectedDataItems="selectedJobs">
    <Columns>
        <HxGridColumn>
            <ItemTemplate Context="job">
                <div style="width: 20px;max-width: 20px;">
                @if (job.State == JobStates.Running)
                {
                    <HxSpinner Size="SpinnerSize.Small" />
                }
                </div>
            </ItemTemplate>
        </HxGridColumn>
        <HxGridColumn HeaderText="Name" ItemTextSelector="x => x.Name" />
        <HxGridColumn HeaderText="Cron" ItemTextSelector="x => x.CronString" />
        <HxGridColumn HeaderText="Next Run" ItemTextSelector="@(x => RenderTimeDifference(x.NextJobRunTime))" />
        <HxGridColumn HeaderText="Last State" ItemTextSelector="x => x.LastJobRunState.ToString()" />
        <HxGridColumn HeaderText="Last Run" ItemTextSelector="@(x => RenderTime(x.LastJobRunTime))" />
        <HxGridColumn HeaderText="Last Message" ItemTextSelector="x => x.LastJobRunMessage" />
        <HxGridColumn>
            <ItemTemplate Context="job">
                <div style="width: 150px;max-width: 150px;">
                    <HxButton Icon="BootstrapIcon.PlayCircle" Enabled="job.State != JobStates.Running" OnClick="async () => await Execute(job)" Color="ThemeColor.Primary" style="margin-right:5px" />
                    <HxButton Icon="BootstrapIcon.Calendar" Enabled="job.State == JobStates.Stopped" OnClick="async () => await Start(job)" Color="ThemeColor.Secondary" style="margin-right:5px" />
                    <HxButton Icon="BootstrapIcon.StopCircle" Enabled="job.State != JobStates.Stopped" OnClick="async () => await Stop(job)" Color="ThemeColor.Danger" />
                </div>
            </ItemTemplate>
        </HxGridColumn>
    </Columns>
</HxGrid>
<p>
    <HxButton Icon="BootstrapIcon.PlayCircle" Text="Run now" Enabled="selectedJobs.Any()" OnClick="async () => await Execute(selectedJobs)" Color="ThemeColor.Primary" />
    <HxButton Icon="BootstrapIcon.Calendar" Text="Schedule" Enabled="selectedJobs.Any()" OnClick="async () => await Start(selectedJobs)" Color="ThemeColor.Secondary" />
    <HxButton Icon="BootstrapIcon.StopCircle" Text="Stop" Enabled="selectedJobs.Any()" OnClick="async () => await Stop(selectedJobs)" Color="ThemeColor.Danger" />
</p>
@code {
    private Timer timer;
    private string SomeText = "Hej";
    private bool disposed = false;
    private string filter = "";
    private HxGrid<Job> grid;
    private HashSet<Job> selectedJobs = new();
    [Inject]
    HttpClient Http { get; set; }
    [Inject] 
    IHxMessageBoxService MessageBox { get; set; }
    [Inject] 
    IHxMessengerService Messenger { get; set; }

    string RenderTime(DateTimeOffset time)
    {
        if (time == DateTimeOffset.MinValue)
            return "";
        return time.ToLocalTime().ToString("yyyy-MM-dd HH:mm:ss");
    }
    string RenderTimeDifference(DateTimeOffset time)
    {
        if (time == DateTimeOffset.MinValue)
            return "";
        var timeSpan = time - DateTimeOffset.UtcNow;
        if (timeSpan < TimeSpan.FromMinutes(1))
            return timeSpan.Seconds + "s";
        if (timeSpan < TimeSpan.FromHours(1))
            return timeSpan.Minutes + "m " + timeSpan.Seconds + "s";
        if (timeSpan < TimeSpan.FromDays(1))
            return timeSpan.Hours + "h " + timeSpan.Minutes + "m";
        return timeSpan.Days + "days";
    }
    private async Task OpenMessageBox()
    {
        var showResult = await MessageBox.ShowAsync("Info", "This is the text", MessageBoxButtons.OkCancel);
    }

    private async Task OpenConfirm()
    {
        var confirmResult = await MessageBox.ConfirmAsync("Confirm", "Do you really want to ...?");
    }

    void LocationChanged(object sender, LocationChangedEventArgs e)
    {
        timer.Dispose();
    }
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            timer = new Timer(async state => { await InvokeAsync(UpdateView); }, null, 0, 1000);
        }
        return Task.CompletedTask;
    }
    private async Task UpdateView()
    {
        await grid.RefreshDataAsync();
    }
    private async Task<GridDataProviderResult<Job>> GetGridData(GridDataProviderRequest<Job> request)
    {
        var list = await Http.GetFromJsonAsync<Job[]>("/cronograph/jobs");
        return new GridDataProviderResult<Job>()
            {
                Data = list,
                TotalCount = list.Count()
            };
    }
    protected async Task Stop(Job job)
    {
        await Http.PostAsJsonAsync("/cronograph/jobs/stop", new JobName { Name = job.Name });
    }
    protected async Task Stop(HashSet<Job> jobs)
    {
        foreach (var job in jobs)
            await Http.PostAsJsonAsync("/cronograph/jobs/stop", new JobName { Name = job.Name });
    }
    protected async Task Start(Job job)
    {
        await Http.PostAsJsonAsync("/cronograph/jobs/start", new JobName { Name = job.Name });
    }
    protected async Task Start(HashSet<Job> jobs)
    {
        foreach (var job in jobs)
            await Http.PostAsJsonAsync("/cronograph/jobs/start", new JobName { Name = job.Name });
    }
    protected async Task Execute(Job job)
    {
        await Http.PostAsJsonAsync("/cronograph/jobs/execute", new JobName { Name = job.Name });
    }
    protected async Task Execute(HashSet<Job> jobs)
    {
        foreach (var job in jobs)
            await Http.PostAsJsonAsync("/cronograph/jobs/execute", new JobName { Name = job.Name });
    }
    public void Dispose() => Dispose(true);

    public void Dispose(bool disposing)
    {
        if (disposed) return;
        timer.Dispose();
        disposed = true;
    }
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private void FilterChanged(ChangeEventArgs args)
    {
        filter = args.Value as string;
    }
}